@font-face {
    font-family: 'NodestoCapsCondensed';
    src: url('fonts/Nodesto Caps Condensed.otf') format('opentype'); 
}

@font-face {
    font-family: 'MrEavesSmallCaps';
    src: url('fonts/Mr Eaves Small Caps.otf') format('opentype');
}

@font-face {
    font-family: 'Bookinsanity';
    src: url('fonts/Bookinsanity.otf') format('opentype');
}

@font-face {
    font-family: 'BookinsanityBold';
    src: url('fonts/Bookinsanity Bold.otf') format('opentype');
}

@font-face {
    font-family: 'BookinsanityItalic';
    src: url('fonts/Bookinsanity Italic.otf') format('opentype');
}

@font-face {
    font-family: 'BookinsanityBoldItalic';
    src: url('fonts/Bookinsanity Bold Italic.otf') format('opentype');
}


.banner {
    display: block;
    font-family: 'NodestoCapsCondensed';
    font-size: 84px;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 100%;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}
@media screen and (max-width: 768px) {
    .banner_title {
        font-size: 42px;
        -webkit-text-stroke-width: 2px;
    }
}

.main {
    margin: auto;
    width: 50%;
}
@media screen and (max-width: 768px) {
    .main {
        width: 100%;
    }
}

.search-container {
    margin: auto;
    width: 50%;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .search-container {
        width: 100%;
    }
}

h1 {
    font-family: 'MrEavesSmallCaps';
    font-size: 46px;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: 'MrEavesSmallCaps';
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

h4 {
    
}

body {
    background-image: url('images/background_white.jpg');
    font-family: 'Bookinsanity';

    strong {
        font-family: 'BookinsanityBold';
    }
}

.layout {
  display: grid;
  grid-template-columns: 200px 1fr;

  width: 800px;
  margin: 0 auto;
}

.sidebar {
  border: 1px solid black;

  width: 200px;
  height: 100vh;

  .directory {
    font-size: 12px;
  }
  
}

.content {
  border: 1px solid black;
  height: 100vh;

  display: grid;
  grid-template-rows: 100px 1fr;
}

.header {
  border: 1px solid black;

  .banner {
    // display: block;
    padding: 10px 20px;
    font-family: 'NodestoCapsCondensed';
    font-size: 64px;
    color: white;
    text-decoration: none;
    text-align: left;
    width: 100%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
}
