@font-face {
    font-family: 'NodestoCapsCondensed';
    src: url('fonts/Nodesto Caps Condensed.otf') format('opentype'); 
}

@font-face {
    font-family: 'MrEavesSmallCaps';
    src: url('fonts/Mr Eaves Small Caps.otf') format('opentype');
}

@font-face {
    font-family: 'Bookinsanity';
    src: url('fonts/Bookinsanity.otf') format('opentype');
}

@font-face {
    font-family: 'BookinsanityBold';
    src: url('fonts/Bookinsanity Bold.otf') format('opentype');
}

@font-face {
    font-family: 'BookinsanityItalic';
    src: url('fonts/Bookinsanity Italic.otf') format('opentype');
}

@font-face {
    font-family: 'BookinsanityBoldItalic';
    src: url('fonts/Bookinsanity Bold Italic.otf') format('opentype');
}


.banner_title {
    display: block;
    font-family: 'NodestoCapsCondensed';
    font-size: 84px;
    color: white;
    text-decoration: none;
    text-align: center;
    width: 100%;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.main {
    margin: auto;
    width: 50%;
}

.search-container {
    margin: auto;
    width: 50%;
    text-align: center;
}

h1 {
    font-family: 'MrEavesSmallCaps';
    font-size: 46px;
}

h2 {
    font-family: 'MrEavesSmallCaps';
    font-size: 24px;
}

body {
    background-image: url('images/background_white.jpg');
    font-family: 'Bookinsanity';

    b, strong {
        font-family: 'BookinsanityBold';
    }
}
