<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Joe's Dnd</title>

  <link rel="stylesheet" type="text/css" href={{ get_url(path="style.css") }}>
</head>

<body>
    <header>
        <nav class="{% block extra_nav_class %}container{% endblock extra_nav_class %}">
            <a class="banner_title" href="{{ config.base_url }}">JOE'S HOMEBREW SHIT</a>

            <div class="search-container">
                
                <input id="search" type="search" placeholder="🔎 Search the docs">
                <div class="search-results">
                    <div class="search-results__items"></div>
                </div>
            </div>
        </nav>
    </header>

  <section class="section">
    <div class="container main">
      <div><a href="{{ config.base_url }}">Menu</a></div>
      {% block content %} {% endblock %}
    </div>
  </section>

    <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
    <script type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
    <script type="text/javascript" src="{{ get_url(path="search.js") }}"></script>
</body>

</html>
