{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<ul>

  {% for section in section.subsections %}
									
    {% set subsection = get_section(path=section) %}
                    
    <li>
        <a href="{{subsection.permalink | safe}}">{{ subsection.title }}</a>
    </li>
                    
  {% endfor %}


  {% for h1 in section.pages %}
    <li><a href="{{ h1.permalink | safe }}">{{ h1.title }}</a></li>
  {% endfor %}
</ul>
<p>{{ section.content | safe }}</p>
{% endblock content %}
